body,html{
	height:100%;
}

#loginarea{
	background-color:black;
	min-height:1em;
	padding:1%;
}

#loginarea a{
	color:pink;
}

.online-users-section{
	height:100%;
	min-width:200px;
	width:20%;
}

#onlineusers{
	background-color:darksalmon;
	color:black;
	height:100%;
	width:100%;
	margin:0;
}


.online-users-header{
	background:peru;
	padding:4px 9px;
	color:white;
	font-size:1.4em;
	vertical-align:middle !important;
}

#input{
	width:99%;
}

#chatwindow{
	padding:1%;
	width:100%;
}

.message{
	padding-top:0.5em;
}

.message.same-sender .sender{
	visibility:hidden;
}

.message .sender{
	color:blue;
	width:10%;
}

.message .text{
}

.message .recipient{
	display:none;
}

.chat-container{
	height:100%;
	padding-left:1%;
	width:100%;
}

.chat-container td{
	vertical-align:top;
}

.keyboard-section{
	padding:1%;
}

.page-wrapper{
	height:100%;
}